/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
	padding: 6	rem 0;
  text-align: center;
}
.section-heading,
.section-description {
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 70%;
  margin: 3rem auto 3rem;
}


  .hero-heading {
	margin: 2rem auto 1rem;
    background-color: #fff; 
 border: 2px solid;
 border-radius: 10px;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
	padding: 5rem 0;
  }
  .hero {
/*  background-image: url('../images/bg_page.png'); */
  background-size: cover;
    padding-bottom: 12rem;
/*    text-align: left;*/
    height: 165px; 
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }	
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
  }
  .hero {
    padding: 24rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
}