body 		{ counter-reset: counterH1; }
h1 			{ counter-reset: counterH2; }
h1:before 	{ counter-increment: counterH1; content: counter(counterH1) " \00a0"; }
h2 			{ counter-reset: counterH3; }
h2:before 	{ counter-increment: counterH2; content: counter(counterH1) "." counter(counterH2) " \00a0"; }
h3 			{ counter-reset: counterH4; }
h3:before 	{ counter-increment: counterH3; content: counter(counterH1) "." counter(counterH2) "." counter(counterH3) " \00a0"; }
h4:before 	{ counter-increment: counterH4; content: counter(counterH1) "." counter(counterH2) "." counter(counterH3) "." counter(counterH4) " \00a0"; }
