html					{ background: url(../images/bg_page.png) center 0 no-repeat rgb(242, 242, 242); }
body				{ background: white; width: 92%; max-width: 960px; padding: 0 20px 20px 20px; 
					  -moz-box-shadow: 0px 0px 8px #aaa; -webkit-box-shadow: 0px 0px 8px #aaa; -ms-box-shadow: 0px 0px 8px #aaa;-o-box-shadow: 0px 0px 8px #aaa; box-shadow: 0px 0px 8px #aaa;
					  border-top: 10px solid #e0062c; margin: 0 auto 10px auto; position: relative; 
					  font-size: 15px; font-family: Helvetica, Arial, sans-serif;  line-height: 24px; }
body:before			{ content: url(../images/xServerLogo.jpg); display: block; position: absolute; right: 20px; top: 20px; }
body:after			{ content: "\00a9\00a0 2015 PTV AG"; font-size:11px; color:#667378; display: block; margin-top: 10px; }
h1					{ font-size: 24px; font-weight: bold; margin: 24px 0; }
h2					{ font-size: 21px; font-weight: normal; background: #e8e9ea; padding: 3px 0; margin: 24px 0; }
h3					{ font-size: 18px; font-weight: bold;  margin: 24px 0; }
h4					{ font-size: 15px; font-weight: bold;  margin: 24px 0; }
p, td				{ hyphens: auto; -moz-hyphens: auto; -webkit-hyphens: auto; -ms-hyphens: auto; }
td > p:first-child	{ margin-top: 0; }
td > p:last-child	{ margin-bottom: 0; }
dl.compact > dt 		{ max-width: 5em; float: left; }
dt 					{ font-weight: bold; }
dd 					{ margin-top: 0; margin-bottom: 8px; }
code, pre, td.code, dl.code > dt
					{ font-family: Consolas, "DejaVu Sans Mono", monospace; 
					  hyphens: none; -moz-hyphens: none; -webkit-hyphens: none; -ms-hyphens: none; }
tl.code > dt			{ font-weight: normal; }
td.code 				{ max-width: 16em; word-wrap: break-word; }
ol 					{ margin-top: 4px; margin-bottom: 8px}
img 					{ display: block; margin: 0 auto; }
table 				{ font-size: 15px; line-height: 24px; margin: 24px 0 36px 0; border-collapse:collapse;  border: 1px solid #667378;
					  -moz-box-shadow: 6px 6px 3px #888; -webkit-box-shadow: 6px 6px 3px  #888; -ms-box-shadow: 6px 6px 3px #888;-o-box-shadow: 6px 6px 3px #888; box-shadow: 6px 6px 3px #888; }
table.centered		{ margin-left: auto; margin-right: auto; }
thead			 	{ display: table-header-group; }
th 					{ text-align: left; background: #e8e9ea; }
td, th, thead			{ padding: 2px 5px; border: 1px solid #667378; vertical-align: top; }
a:link 				{ color: #556267; text-decoration: none; }
a:visited 			{ color: #888; }
a[href]:hover 		{ color: #e0062c; text-decoration: underline; }
a[href^="http://"],a[href^="https://"],a { padding-right: 13px; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAFVBMVEUAAABTU1NYWFiAgICPj4/CwsL///89+6YxAAAAAXRSTlMAQObYZgAAAD5JREFUeNpjYGBQUlJiYGB2S0tiYGBQBpKCgqpAUiwpLBhIqqYqOTGIhQQJGDCIpaoJMDCIpaUBSUFBQQEGABJLCNvQnRC2AAAAAElFTkSuQmCC") no-repeat scroll right center transparent;	}
a.backlink			{ font-size: 80%; }
a.backlink + h1		{ margin-top: 12px; }
ul > li 				{ list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHAQMAAAALYk4gAAAABlBMVEUAAADgISnCqOTgAAAAAXRSTlMAQObYZgAAABVJREFUeNpj+M/A8L+B4f8BMMkAAQBcjwa8KNugmQAAAABJRU5ErkJggg==); }
::selection { background-color: #e0062c; color: #fff; }
::-moz-selection { background-color: #e0062c; color: #fff; }
 
@media print {
	html				{ background: none; }
	body				{ padding: 0; margin: 0; -moz-box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; border-top: none; }
	body:before			{ right: 0; top: 0; }
	a:link, a:visited	{ color: #667378; }
	a[href^="http://"], a[href^="https://"]	{ padding-right: 0; background: none; }
	a[href^="http://"]:after, a[href^="https://"]:after  
						{ content: " (" url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAFVBMVEUAAABTU1NYWFiAgICPj4/CwsL///89+6YxAAAAAXRSTlMAQObYZgAAAD5JREFUeNpjYGBQUlJiYGB2S0tiYGBQBpKCgqpAUiwpLBhIqqYqOTGIhQQJGDCIpaoJMDCIpaUBSUFBQQEGABJLCNvQnRC2AAAAAElFTkSuQmCC") " " attr(href) ") "; font-size: 90%; }
	a.backlink			{ display: none; }
	h1, h2, h3, h4 		{ page-break-after: avoid; }
	dt, pre 				{ page-break-inside: avoid; }
}
