{
  "rules": {
    "linebreak-style": [
      0,
      "unix"
    ],
    "no-mixed-spaces-and-tabs": [
      2,
      "smart-tabs"
    ],
    "indent": [
      2,
      "tab",
      {
        "VariableDeclarator": 0,
        "flatTernaryExpressions": true
      }
    ],
    "curly": 2,
    "spaced-comment": 2,
    "strict": 0,
    "wrap-iife": 0,
    "key-spacing": 0,
    "consistent-return": 0
  },
    "globals": {
    "L": true,
    "module": false,
    "define": false
  },
  "env": {
    "browser": true
  }
}
